<form action="/register/create" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username" required>
    <label for="password">Password (8 characters minimum)</label>
    <input type="password" name="password" minlength="8" required>
    <label for="email">Email: </label>
    <input type="email" name="email" required>
    <button type="submit">Register</button>
</form>