<% Object.keys(object).forEach(key => { %> 
    <% const descriptin = key.split('_').join(' ')%>
    <% if(object[key] == undefined) object[key]='' %> 
    <% const attribute = `${descriptin}: ${object[key]}`%> 
    <div><%= attribute %></div>
<% }) %>


<a href="personal">Osobní údaje</a>
<form action="logout?_method=DELETE" method="POST">
<button type="submit">Log Out</button>
</form>