<form action="/private/personal/edit" method="POST">
    <label for="fname">First name: </label>
    <input type="text" name="fname" required>
    <label for="lname">Last name: </label>
    <input type="text" name="lname" required>
    <label for="bday">Birth Date </label>
    <input type="date" name="bday" required>
    <label for="street">Street: </label>
    <input type="text" name="street" required>
    <label for="city">City: </label>
    <input type="text" name="city" required>
    <label for="pcode">Postal code: </label>
    <input type="number" name="pcode" required>
    <button type="submit">Create</button>
</form>