@import "./shared/form-field.css";

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  /*background: linear-gradient(to left, rgb(248, 248, 248),rgba(214, 214, 214, 0.89));*/
  overflow-x: hidden;
  font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 1500;
  text-transform: uppercase;
}
