footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 30px;
  z-index: 3;
}
.copyright {
  color: white;
  font-size: 15px;
}
