.nav-bar-container,
.nav-bar,
.nav-bar-lists,
.nav-bar-lists-logs {
  display: flex;
}

.header-title {
  flex: 1;
  display: flex;
  background-color: aqua;
  align-items: center;
  justify-content: center;
}

.header-title a {
  font-size: 35px;
  font-weight: 700;
}
.nav-bar {
  flex: 2.5;
  background-color: lightcoral;
}

.nav-bar {
  flex-direction: column;
  max-height: 100px;
}

* > a {
  text-decoration: none;
  color: black;
}

* > li {
  list-style: none;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  height: 100%;
}

* > a:hover {
  cursor: pointer;
  color: grey;
}

.nav-bar-container {
  height: 12vh;
  max-height: 100px;
  align-items: center;
}

.nav-bar-container > * {
  height: 100%;
}

.nav-bar-links {
  height: 100%;
  background-color: honeydew;
}
.nav-bar-logs {
  background-color: lightblue;
}

.nav-bar-links a {
  font-size: 12px;
  background-color: lightcoral;
}
.nav-bar-logs a {
  font-size: 12px;
}
.nav-bar-lists-logs {
  justify-content: flex-end;
}
.nav-bar-lists {
  justify-content: space-around;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
  height: 100%;
}
