<form action="/login/request" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username">
    <label for="password">Password (8 characters minimum)</label>
    <input type="password" name="password" minlength="8" required>
    <button type="submit">Login</button>
    <div>Not registered yet? <a href="/register">Register</a></div>
</form>